

<footer class="section-footer border-top">
	<div class="container">
	<div>
		<section class="footer-bottom border-top row">
			<div class="col-md-2">
				<p class="text-secondary"> <b><i> &copy 2021 &nbsp;five-and-dime</i></b> </p>
			</div>
			<div class="col-md-8 text-md-center">
				<span  class="px-2"><i class="px-2 fab fa fa-envelope">  &nbsp; ayushshresth97@gmail.com</i></span>
				<span  class="px-2"><i class="fa fa-phone" > +91 &nbsp;7667802742</i></span>

			</div>
			<div class="col-md-2  text-md-right">
				<a href="" ><i class="px-2 fab fa-2x fa-envelope" style="color:blue;"></i></a>
				<a href="https://github.com/ayush-shresth/" target="blank" class="text-primary"><i class="fab fa-2x fa-github"></i></a>
				<a href="https://linkedin.com/in/ayush-514875198/" class="text-primary" target="blank"><i class="px-3 fab fa-2x fa-linkedin-in"></i></a>
				
				
				
			</div>
			</div>
		</section>
	</div><!-- //container -->
</footer>
				