{% load static %}

<!-- -------------------------------HEADER-------------------------- -->

<header class="section-header">
  
  <section class="header-main border-bottom">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-lg-2 col-md-3 col-6">
          <a href="/" class="brand-wrap">
            <img class="logo" src="{% static './images/logo12.png' %}" style="width:110%; padding: 0;
            margin: 0;"/>
          </a>
        </div>

        <div class="col-lg col-sm col-md col-6 flex-grow-0">
          <div class="category-wrap dropdown d-inline-block float-right">
            <button
              type="button"
              class="btn btn-primary dropdown-toggle"
              data-toggle="dropdown"
            >
              <i class="fa fa-bars"></i> &nbsp; &nbsp; Categories
            </button>

            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'store' %}"
                ><b>All Products</b></a
              >

              {% for category in links %}
              <a class="dropdown-item" href="{{category.get_url}}">
                {{category.categories_name}}
              </a>
              {% endfor %}
            </div>
          </div>
          <!-- category// -->
        </div>
        <!-- col.// -->
        <a href="/store/" class="btn btn-outline-primary">Store</a>
        <div class="col-lg col-md-6 col-sm-12 col">
          <form action="{% url 'search' %}" class="search" method="get">
            <div class="input-group w-100">
              <input
                type="text"
                class="form-control"
                placeholder="Search"
                name="keyword"
              />

              <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
        <!-- col.// -->
        <a href="/admin/" class="btn btn-outline-primary" target="blank"
          >Admin</a
        >
        <div class="col-lg-3 col-sm-6 col-8 order-2 order-lg-3">
          <div class="d-flex justify-content-end mb-3 mb-lg-0">
            <div class="widget-header">
              <small class="title text-muted">Welcome guest!</small>
              <div>
                <a href="{% url 'login_account' %}">Log In</a>
                <span class="dark-transp"> | </span>
                <a href="{% url 'register_account' %}"> Register</a>
                {% comment %} <div><a href={% url 'dashboard' %}> Dashboard</a></div> {% endcomment %}
              </div>
            </div>
            <a href={% url 'carts' %} class="widget-header pl-3 ml-3">
              <div class="icon icon-sm rounded-circle border">
                <i class="fa fa-shopping-cart"></i>
              </div>
              <span class="badge badge-pill badge-danger notify">{{cart_count}}</span>
            </a>
          </div>
          
        </div>
        
      </div>
     
    </div>
    
  </section>
  
</header>

