{% extends 'base.html' %}
{% load static %}

{% block content %}


<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
<div class="container-fluid">

<div class="shadow">
	<a href="{% url 'store' %}">
	<img src="{% static 'images/banners/cover6.jpg' %}" class="img-fluid rounded shadow">
</a>
</div>

</div> <!-- container //  -->
</section>


<!-- ========================= SECTION MAIN END// ========================= -->



<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
<div class="container-fluid">

<header class="section-heading">
	<a href="{% url 'store' %}" class="btn btn-outline-primary float-right">See all</a>
	<h3 class="section-title">Popular products</h3>
</header><!-- sect-heading -->

	
<div class="row">
{% for product in products %}
	<div class="col-md-3">
		<div class="card card-product-grid shadow"  >

			<a href="{{product.get_url}}" class="img-wrap" id="hover_effect"> <img src=" {{product.image.url}} "> </a>
			<figcaption class="info-wrap">
				<a style="height:40px; overflow:hidden; display: inline-block;" href="{{product.get_url}}" class="title" > {{product.product_name}} </a>
				
				{% if product.stock <= 0 %}
					<div class="price mt-1">RS.&nbsp;{{product.price}}&nbsp; <h5 style="display: inline">(out of stock)</h5></div>
				{% else %}
					<div class="price mt-1"> RS.&nbsp;{{product.price}}</div>
				{% endif %}

			</figcaption>
		</div>
	</div> 
{% endfor %}  

</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->




<!-- ========================= FOOTER ========================= -->

<!-- ========================= FOOTER END // ========================= -->

</body>
</html>

{% endblock content %}