{% extends 'base.html' %} {% load static %} {% block content %}

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="p-3 bg">
  <div class="container">
    <h2 class="title-page" style="text-align: center">Our Store</h2>
  </div>
</section>
<!-- container //  -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
  <div class="container">
    <div class="row">
      <aside class="col-md-3">
        <div class="card shadow">
          <article class="filter-group">
            <header class="card-header">
              <a href="#">
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Categories</h6>
              </a>
            </header>
            <div class="filter-content collapse show" id="collapse_1" style="">
              <div class="card-body">
                <ul class="list-menu">
                  <li>
                    <b><a href="{% url 'store' %}">All Products</a></b>
                  </li>

                  {% for category in links %}
                  <li>
                    <a href="{{category.get_url}}"
                      >{{category.categories_name}}
                    </a>
                  </li>
                  {% endfor %}
                  
                </ul>
              </div>
              <!-- card-body.// -->
            </div>
          </article>
          <!-- filter-group  .// -->
          {% comment %} <article class="filter-group">
            <header class="card-header">
              <a
                href="#"
                data-toggle="collapse"
                data-target="#collapse_4"
                aria-expanded="true"
                class=""
              >
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Sizes</h6>
              </a>
            </header>
            <div class="filter-content collapse show" id="collapse_4">
              <div class="card-body">
                <label class="checkbox-btn">
                  <input type="checkbox" />
                  <span class="btn btn-light"> XS </span>
                </label>

                <label class="checkbox-btn">
                  <input type="checkbox" />
                  <span class="btn btn-light"> SM </span>
                </label>

                <label class="checkbox-btn">
                  <input type="checkbox" />
                  <span class="btn btn-light"> LG </span>
                </label>

                <label class="checkbox-btn">
                  <input type="checkbox" />
                  <span class="btn btn-light"> XXL </span>
                </label>
              </div>
              <!-- card-body.// -->
            </div>
          </article> {% endcomment %}
          <!-- filter-group .// -->

          <article class="filter-group">
            <header class="card-header">
              <a
                href="#"
              >
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Price range</h6>
              </a>
            </header>
            <div class="filter-content collapse show" id="collapse_3" style="">
              <div class="card-body">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>Min</label>
                    <!-- <input class="form-control" placeholder="$0" type="number"> -->
                    <select class="mr-2 form-control">
                      <option value="0">Rs 0</option>
                      <option value="50">Rs 500</option>
                      <option value="100">Rs 1000</option>
                      <option value="150">Rs 1500</option>
                      <option value="200">Rs 2000</option>
                      <option value="500">Rs 5000</option>
                      <option value="1000">Rs 10000</option>
                    </select>
                  </div>
                  <div class="form-group text-right col-md-6">
                    <label>Max</label>
                    <select class="mr-2 form-control">
                      <option value="50">Rs 500</option>
                      <option value="100">Rs 1000</option>
                      <option value="150">Rs 1500</option>
                      <option value="200">Rs 2000</option>
                      <option value="500">Rs 5000</option>
                      <option value="1000">Rs 10000</option>
                      <option value="2000">Rs 20000+</option>
                    </select>
                  </div>
                </div>
                <!-- form-row.// -->
                <button class="btn btn-block btn-primary">Apply</button>
              </div>
              <!-- card-body.// -->
            </div>
          </article>
          <!-- filter-group .// -->
        </div>
        <!-- card.// -->
      </aside>
      <!-- col.// -->
      {% if count %}
      <main class="col-md-9">
        <header class="border-bottom mb-4 pb-3">
          <div class="form-inline">
            <span class="mr-md-auto"><b>{{count}} Items found </b></span>
          </div>
        </header>
        <!-- sect-heading -->

        <div class="row">
          {% for product in products %}

          <div class="col-md-4">
            <figure class="card card-product-grid shadow">
              <div class="img-wrap">
                <a href="{{product.get_url}}">
                  <img src="{{product.image.url}}" id="hover_effect"/>
                </a>
              </div>
              <!-- img-wrap.// -->
              <figcaption class="info-wrap">
                <div class="fix-height">
                  <a href="{{product.get_url}}" class="title"
                    >{{product.product_name}}</a
                  >
                  <div class="price-wrap mt-2">
                    <span class="price">RS.&nbsp;{{product.price}}</span>
                  </div>
                  <!-- price-wrap.// -->
                </div>

                {% if product.stock %}
                <a
                  href="{% url 'add_cart' product.id %}"
                  class="btn btn-block btn-primary"
                  >Add to cart
                </a>
                {% else %}
                <div class="text-center">Out Of Stock</div>
                {% endif %}
              </figcaption>
            </figure>
          </div>
          <!-- col.// -->
          {% endfor %}
        </div>
        <!-- row end.// -->

        {% else %}
        <section class="section-pagetop bg">
          <div class="container">
            <h2 class="title-page" style="text-align: center">
              Search Not Found
            </h2>
          </div>
        </section>
        {% endif %}
      </main>
      <!-- col.// -->
    </div>
  </div>
  <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock content %}
